/* gallery.css */

.gallery-container {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 8px;
  padding: 16px;
  max-width: 100%;
  background-color: white;
}

.gallery-item {
  box-sizing: border-box;
  width: 100%;
  max-width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 6px;
  cursor: pointer;
}

#full-div {
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  padding: 30px;
  color: white;
  background-color: rgba(0, 0, 0, 0.85);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
}

#full-div img {
  max-height: 90%;
  max-width: 90%;
}

#full-div .left-btn,
#full-div .right-btn {
  box-sizing: border-box;
  font-size: 22px;
  padding: 4px;

  color: rgba(255, 255, 255, 0.7);
  cursor: pointer;
}

#full-div .left-btn:hover,
#full-div .right-btn:hover {
  color: rgba(255, 255, 255, 1);
}
